@media (max-width: $mobile-size-mq) {
	.tablet-header-container {
		display: none;
	}

	.mobile-header-container {
		display: block;
	}
}

.mobile-header-container {
	@extend .basic-header;
	padding: 12px 16px;
}

.mobile-header-content {
	.show-area {
		@include flexSpaceBtw;
	}

	.lupane-logo {
		width: 115px;
	}

	.menu-icon {
		font-size: 20px;
	}
}

.mobile-nav-wrapper {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 65vw;
	height: 100vh;
	z-index: 1000;
	padding: 25px;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	transform: translateX(350px);
	transition: transform 250ms linear;

	.close-menu-icon {
		font-size: 20px;
	}

	&.slide-in-out {
		transform: translateX(0);
	}
}

.mobile-nav-ul-wrapper {
	display: block;
	margin-top: 30px;

	.nav-link {
		list-style: none;
		margin-bottom: 10px;

		a {
			@include flexAlign;
			gap: 15px;
			color: $color-dark-6;
			text-decoration: none;
			font-size: 16px;
			cursor: pointer;
			padding: 10px 0px;

			&.router-link-exact-active {
				color: $color-dark-1;
				font-weight: bold;
			}
		}
	}
}
