@media (max-width: $tablet-size-mq) {
	.sidebar-wrapper {
		display: none;
	}

	.header-container {
		display: none;
	}

	.tablet-header-container {
		display: block;
	}

	.mobile-header-container {
		display: none;
	}
}

.tablet-header-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 0px;
	box-shadow: $box-shadow;
	background-color: $color-light-1;
	z-index: 1000;

	.logo-area {
		img {
			width: 120px;
		}
	}
}

.tablet-header-content {
	@include flexSpaceBtw;
}

.nav-ul-wrapper {
	@include flexAlign;
	gap: 10px;

	.nav-link {
		list-style: none;

		a {
			display: block;
			width: 100%;
			color: $color-dark-6;
			text-decoration: none;
			font-size: 17px;
			cursor: pointer;
			padding: 6px 10px;
			border-radius: 4px;

			&.router-link-exact-active {
				color: $color-dark-1;
				background-color: $color-grey-9;
			}

			&:hover {
				color: $color-dark-1;
			}
		}
	}
}
