@media (max-width: $tablet-size-mq) {
  .dashboard-wrapper {
    background-color: $color-light-1;
  }
  .dashboard-main-area {
    top: calc($header-size + 3%);
    left: 0;
    width: 100%;
  }

  .dashboard-main-area-content {
    padding: 18px;
  }

  .dashboard-aside {
    display: none;
  }

  .mobile-size-footer {
    display: block;
  }

  .reminder {
    padding: 10px;
    margin-bottom: 11px;
    border-left: 4px solid $primary-color;

    .reminder-text {
      @extend .basic-text;
      font-size: 16px;
    }
  }

  @import './searchareaQ';

  .selected-mates-container {
    margin-top: 25px;

    h2 {
      font-size: 17px;
      margin-bottom: 13px;
    }

    .selected-ul-wrapper {
      .list-item {
        font-size: 16px;
        padding: 10px 11px;
        margin-bottom: 8px;
      }

      .remove-roommate-btn {
        font-size: 16px;
      }
    }

    .request-room-btn {
      font-size: 16px;
      padding: 11px 13px;
      margin-top: 13px;
    }
  }

  .confirm-mates-container {
    margin-top: 20px;

    h2 {
      font-size: 17px;
      margin-bottom: 13px;
    }
  }

  .confirm-mates {
    .st-details {
      font-size: 16px;
      padding: 10px 11px;
      margin-bottom: 10px;

      .response-icon {
        font-size: 16px;
      }
    }
  }

  .confirm-cancel-btns {
    .confirm-btn,
    .cancel-btn {
      padding: 10px 30px;
    }
  }
}

@media (max-width: $mobile-size-mq) {
  .dashboard-main-area {
    top: calc($header-size + 2%);
  }

  .dashboard-main-area-content {
    padding: 12px 17px 17px 17px;
  }

  .mobile-size-footer {
    padding: 0px;
    font-size: 12px;
    width: 100%;
    text-align: center;
  }

  .reminder {
    padding: 8px;
    margin-bottom: 13px;

    .reminder-text {
      font-size: 15px;
      line-height: 1.4;
    }
  }

  .selected-mates-container {
    margin-top: 25px;

    h2 {
      font-size: 17px;
      margin-bottom: 15px;
    }

    .selected-ul-wrapper {
      .list-item {
        font-size: 15px;
        padding: 8px 10px;
      }

      .remove-roommate-btn {
        font-size: 15px;
      }
    }

    .request-room-btn {
      font-size: 16px;
      padding: 9px 13px;
      margin-top: 18px;
    }
  }

  .confirm-mates-container {
    margin-top: 15px;

    h2 {
      font-size: 17px;
      margin-bottom: 11px;
    }
  }

  .confirm-mates {
    .st-details {
      font-size: 15px;
      padding: 9px 10px;
      margin-bottom: 8px;

      .response-icon {
        font-size: 15px;
      }
    }
  }

  .confirm-cancel-btns {
    .confirm-btn,
    .cancel-btn {
      padding: 8px 28px;
    }
  }
}
