.signin-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-grey-5;
}

.signin-content {
  position: relative;
  width: 370px;
  padding: 30px;
  margin-top: 25px;
  border-radius: 7px;
  box-shadow: 0 8px 13px rgba(0, 0, 0, 0.15);
  background-color: $color-white;
  transition: $transition;
  animation: opacity 1000ms linear 1;

  .logo-wrapper {
    margin: 15px 0 18px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 245px;
    }
  }
}

.form-control {
  position: relative;
  margin-bottom: 15px;

  &.last-child {
    margin-bottom: 11px;
  }
}

.signin-input {
  width: 100%;
  outline: none;
  color: $color-dark-2;
  font-size: 16px;
  letter-spacing: 0.5px;
  height: 48px;
  padding: 0px 12px;
  border: 1px solid $color-grey-aaa;
  border-radius: 3px;
  background-color: $color-light-1;
  transition: border-color 250ms ease-in;

  &::placeholder {
    font-size: 15px;
  }

  &:focus {
    border-color: $color-blue-1;
  }

  &.error {
    border: 2px solid red;
  }
}

.eye-icon {
  @include icon(50%, 13px);
  color: $color-grey-6;
  font-size: 18px;

  &:hover {
    color: $color-dark-3;
  }
}

.forgot-password {
  display: block;
  text-align: center;
  color: $color-grey-aaa;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: $transition;
  text-decoration: none;

  &:hover {
    color: $color-dark-3;
  }

  &.show-alert {
    display: none;
  }
}

.login-btn {
  @extend .btn;
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0px 15px;
  height: 48px;
  background-color: $color-primary;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.4px;
  transition: background-color 300ms ease-in 3ms;

  &:hover {
    background-color: $color-secondary;
  }
}

.create-account {
  @extend .forgot-password;
  margin-top: 7px;
  color: $color-dark-3;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }

  &.show-alert {
    display: none;
  }
}

/*Footer*/

.footer {
  margin-top: 36px;
  font-size: 16px;
  text-align: center;
}
