.settings-wrapper {
  @extend .home-wrapper;

  .alert {
    width: 70%;
  }
}

.settings-content {
  @extend .home-content;
  width: calc(100% - 50%);

  .heading {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 30px;
  }

  .current-password,
  .new-password {
    h2 {
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 20px;
    }
  }

  .settings-control {
    @extend .form-control;
    width: 70%;

    label {
      @extend .label;
      margin-bottom: 12px;
    }

    .settings-input {
      @extend .form-input;
      height: 45px;
      background-color: transparent;

      &::placeholder {
        font-weight: normal;
      }

      &:focus {
        border-color: $color-dark-1;
      }
    }

    .eye-icon {
      top: 70%;
      font-size: 16px;
    }
  }
}

.settings-btn {
  @extend .front-btn;
  margin-top: 25px;
  width: 15%;
  padding: 8px;
  height: 40px;
  font-size: 16px;
  color: $color-white;
}

.pop-back.settings {
  margin-top: 25px;
  font-size: 15px;
  cursor: pointer;
  justify-content: flex-start;
}
