@media (max-width: 840px) {
  .alert {
    padding: 6px;
    margin-top: 16px;
    border-radius: 3px;
    margin-bottom: 13px;
  }
}

@media (max-width: 440px) {
  .alert {
    margin-top: 14px;
    font-size: 12px;
    margin-bottom: 11px;
  }

  .pop-back {
    margin-top: 20px;
  }
}
